
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.dark {
  background-color: #1e1e1e;
  color: #ffffff;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.card, .list-group-item {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.dark .card, .dark .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
